* {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

#cont {
    display: grid;
    grid-template-rows: 10vh 25vh 50vh 15vh;
    grid-template-columns: 100vw;
    grid-template-areas: "head"
                        "input"
                        "main" 
                        "foot";
}

#head {
    grid-area: head;
    width: 100%;
    height: 15vh;
    background-color: darkslategrey;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#user__input {
    grid-area: input;
    background: forestgreen;
    width: 100%;
    padding: 2vh;

}

#user__input form {
    display: flex;
    flex-direction: column;
}

#user__input form label{
    font-size: 2rem;
    color: #fff;

}

#cities {
    width: 30vw;
    height: 7vh;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 1.5rem;
}

#sub {
    width: 25vw;
    height: 7vh;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 1.3rem;
}



#main__cont {
    grid-area: main;
    background-color: gainsboro;
    
}

.list {
    list-style: none;
    font-size: 1.7rem;
    width: 90vw;
    height: 50vh;
    display: grid;
    grid-template-rows: 25vh 25vh;
    grid-template-columns: repeat(3, 30vw);
    grid-template-areas: "temp min max"
                        "feels press hum";
}
.list img {
    width: 40px;
    height: 40px;
}
.list li{
    background: #fff;
    width:30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 1vh;
}
.list li span {
    font-size: 1rem;
}
#foot {
    grid-area: foot;
    background-color: darkslategrey ;
    width: 100%;
}

#temp {
    grid-area:temp;
}
#feels {
    grid-area:feels;
}
#min {
    grid-area:min;
}
#max {
    grid-area:max;
}
#press {
    grid-area:press;
}
#hum {
    grid-area:hum;
}